
<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">The Hidden Genius Project</h1>
                        <h2 class="active"><%= link_to "View our Featured Genius!", features_path %></h2>

                            <i class="fa fa-angle-double-down animated"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="Cohort 3" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="Cohort 4" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="Cohort 5" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                </ul>
            </div>
        </div>
    </section>



      <%= render 'shared/header' %>
