<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div>
    <h2 class="show-header">Showing <%= "#{@cohort}'s Geniuses " %></h2>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Location:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= :city %>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>cohort_number:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= :number %>
    </div>
  </div>
  <br>
  <br>
  <div class="col-xs-12 col-md-10 member">
    <%= link_to 'Add Genius', add_user_users_path(@usera),
      class: "btn btn-success btn-sm link", id: "submit-btn" %>
  </div>
</div>
