<h1>Genius Cohorts </h1>

<table id="example">
<tr>
    <th>&nbsp;</th>
    <th>Genius</th>
    <th>Cohort</th>
    <th>Stipend</th>
</tr>
<tr>
    <td><a href="josh">Edit</a></td>
    <td>Josh</td>
    <td>Blah blah blah blah</td>
    <td>137</td>
</tr>
<tr>
    <td><a href="Drake">Edit</a></td>
    <td>Drake</td>
    <td>Blah blah blah blah</td>
    <td>125</td>
</tr>
<tr>
    <td><a href="DJ">Edit</a></td>
    <td>DJ</td>
    <td>Blah blah blah blah</td>
    <td>156</td>
</tr>
</table>
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <li class="active"><%= link_to "Currently signed up Geniuses", users_path %></li>
                </div>
            </div>
        </div>
      </div>
  </header>
<div class="container-fluid">
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Oakland 1</th>
      <th>Oakland 2</th>
      <th>Oakland 3</th>
      <th>Oakland 4</th>
      <th>Oakland 5</th>
      <th>Richmond 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
</table>
</div>
