<h1>Genius Cohorts </h1>


<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <li class="active"><%= link_to "Currently signed up Geniuses", users_path %></li>
                </div>
            </div>
        </div>
      </div>
  </header>
<div class="container-fluid">
<table class="table table-responsive">
  <thead>
    <tr data-href= "<%= admins_cohort_path(admin) %>">
      <th>Oakland 1</th>
      <th>Oakland 2</th>
      <th>Oakland 3</th>
      <th>Oakland 4</th>
      <th>Oakland 5</th>
      <th>Richmond 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
</table>
</div>
