
<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<!-- <h1>Hello Genius</h1>
redirect_to :root_path -->


<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      body {
        font-size: 2em;
      }
      #info {
        padding: 0.25em;
      }
    </style>
    <script>

      var apiKey = 'AIzaSyB49uC_ZAuE5ef0ouy5DuVJ1qroP7qN6Ss';
      function load() {
        gapi.client.setApiKey(apiKey);
        gapi.client.load('urlshortener', 'v1', showInputs);
      }
      function showInputs() {
        document.getElementById('requestFields').style.display = '';
      }
      function makeRequest() {
        function writeResponse(resp) {
          var responseText;
          if (resp.code && resp.data[0].debugInfo == 'QuotaState: BLOCKED') {
            responseText = 'Invalid API key provided. Please replace the "apiKey" value with your own.';
          } else {
            responseText = 'Short URL ' + shortUrl + ' expands to ' + resp.longUrl;
          }
          var infoDiv = document.getElementById('info');
          infoDiv.innerHTML = '';
          infoDiv.appendChild(document.createTextNode(responseText));
        }
        var shortUrl = document.getElementById('shortUrl').value;
        var request = gapi.client.urlshortener.url.get({
          'shortUrl': shortUrl
        });
        request.execute(writeResponse);
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>
  </head>
  <body>
    <p>Enter a short URL and click "Expand URL" to get the full URL.</p>
    <div id="requestFields" style="display:none;">
      <label for="shortUrl">Short URL </label>
      <input id="shortUrl" type="text" value="http://goo.gl/fbsS" />
      <button onclick="makeRequest();">
        Expand URL
      </button>
    </div>
    <fieldset>
      <legend>Results</legend>
      <span id="info"></span>
    </fieldset>
  </body>
</html> -->
