// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;


// Active Admin's got SASS!
//= require activeadmin_addons/all
// require jQuery

//= require select2
// require jquery.ui.all


$skinMainFirstColor: #000!default;
$skinMainSecondColor: #FFE000!default;
$skinBorderWindowColor: #cccccc;

@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import "active_admin/select2/base";
@import "active_admin_datetimepicker";

@import "jquery.xdan.datetimepicker";

//@import "fullcalendar";
//@import "index_as_calendar/application"



// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//

   .title {
     width: 300px;
     height: 200px;

   }
   .status_tag {
     background: #6090DB;
   }
